# various extensions created by latex

*.bbl
*.blg
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.nav
*.sty 
*.snm
*.toc
*.def
*.cls
*.bst

figures/
notebooks/.ipynb_checkpoints/
.ipynb_checkpoints
Makefile
README

